/* Homepage */
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* --------------------------------------------------- */

/* Navbar */
#nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    width: 100%;
    height: 90px;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 50;
    cursor: pointer;
}

#nav1 {
    width: 30%;
}

#nav1 #image {
    width: 70%;
    margin-left: 40px;
    margin-top: 20px;
}

#nav2 {
    width: 70%;
    margin-left: 50%;
}

#ull {
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
    list-style-type: none;
}

#ull li:hover {
    color: red;
}

#nav2 #dv1 {
    background-color: #ffffff;
    height: 120px;
    display: none;
    position: absolute;
    top: 90px;
    z-index: 100;
    margin-left: -100px;
    padding: 10px 10px;
    border: 1px solid rgb(165, 165, 165);
    border-top: none;
}

#nav2 a {
    color: black;
}

#nav2 a:hover {
    color: red;
}

#dv1 li {
    padding: 10px;
}

#ic {
    display: none;
    cursor: pointer;
    margin: 25px;
}

/* ------------------------------------------------ */

/* Section 3 */
#sc3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100%;
    height: 75px;
}

#sc3 p {
    text-align: center;
    color: white;
    padding: 1.2%;
}

#sc3 button {
    height: 35px;
    width: 9%;
    background-color: rgb(168, 0, 0);
    color: white;
    border-radius: 20px;
    border: none;
    margin-left: 1%;
}

#sc3 button:hover {
    background-color: white;
    color: #bd0123;
    transition: 1s;
}

#sc3 a {
    text-decoration: none;
    color: white;
}

/* ----------------------------------------------- */

/* Carousel */
#carousel {
    position: relative;
}

#carousel img {
    height: 500px;
    width: 100%;
}

/* ----------------------------------------------- */

/* Card 0 */
#card0 {
    width: 100%;
    padding-top: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#card0 #dv01 {
    display: flex;
    margin-left: 5%;
}

#card0 #dv02 {
    width: 40%;
}

#card0 #p {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#card0 #dv03 {
    margin-left: 10%;
    width: 50%;
}

#card0 span {
    font-size: 20px;
    font-weight: bold;
}

#dv03 iframe {
    width: 560px;
    height: 315px;
}

/* ----------------------------------------------- */

/* Card 1 */
#card1 {
    width: 100%;
    padding-top: 120px;
}

/* Mechanical */
#card1 #dv6 .p {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5%;
}

#card1 #dv6 hr {
    margin-left: 25%;
    margin-top: -1.5%;
}

.dv7 {
    width: 90%;
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    text-align: center;
    line-height: 25px;
}

.dv7 div img {
    width: 100%;
    height: 200px;
}

#dv071 {
    width: 21%;
    box-shadow: 5px 2px 10px rgb(187, 187, 187);
}

#dv072 {
    width: 21%;
    box-shadow: 5px 5px 10px rgb(187, 187, 187);
}

#dv073 {
    width: 21%;
    box-shadow: 5px 2px 10px rgb(187, 187, 187);
}

#dv074 {
    width: 21%;
    box-shadow: 5px 2px 10px rgb(187, 187, 187);
}

/* Civil */
#card1 #dv8 .p {
    margin-top: 70px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5%;
}

#card1 #dv8 hr {
    margin-left: 17%;
    margin-top: -1.5%;
}

.dv9 {
    width: 90%;
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    text-align: center;
    line-height: 25px;
}

.dv9 div img {
    width: 100%;
    height: 200px;
}

#dv091 {
    width: 25%;
    box-shadow: 5px 2px 10px rgb(187, 187, 187);
}

#dv092 {
    width: 25%;
    box-shadow: 5px 5px 10px rgb(187, 187, 187);
}

#dv093 {
    width: 25%;
    box-shadow: 5px 2px 10px rgb(187, 187, 187);
}

.sp01 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
}

.sp001 {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#card1 button {
    width: 35%;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(183, 0, 0);
}

#card1 button:hover {
    color: rgb(182, 0, 0);
    background-color: #fff;
    transition: 1s;
}

/* -------------------------------------------- */

/* Image Section */
/* #div {
    width: 90%;
    margin-left: 5%;
    display: flex;
}

.d1 {
    margin-left: 1%;
    width: 48%;
    text-align: center;
    justify-content: space-evenly;
}

.d1 .btn1 {
    color: white;
    background-color: #bd0123;
    font-size: 15px;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    border: none;
}

.d1 .btn1:hover {
    border: 1px solid #bd0123;
    color: #bd0123;
    background-color: white;
    transition: 600ms;
    font: bold;
}

.white {
    color: black !important;
    font-weight: bolder !important;
    font-size: larger !important;
}

.cour {
    color: black !important;
    font-size: 13px !important;
    font-weight: bold;
} */

/* -------------------------------------- */

/* Count Section */
#d01 {
    margin-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
}

#d01 div {
    width: 20%;
}

#d01 h1 {
    color: red;
}

/* ------------------------------------------- */

/* Splide */
/* .carousel1 {
    height: 650px;
    width: 95%;
    margin-left: 2.5%;
}

.carousel1 #sp1 p {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-left: 10%;
    padding: 5% 0% 0% 0%;
}

.carousel1 #img0019 {
    margin-left: 10%;
}

.splide__slide img {
    margin-left: 35%;
    margin-top: 10%;
    width: 80%;
    height: 200px;
}

.splide__slide p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 50%;
    text-align: center;
}

.splide__progress__bar {
    height: 3px;
    background: #ccc;
}

.carousel1 .splide__slide p {
    color: white;
    font-size: 20px;
}

.carousel1 .splide__slide a {
    text-decoration: none;
}

.carousel1 .splide__slide p span {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
}

.carousel1 .btn1 {
    color: white;
    background-color: #bd0123;
    border-radius: 15px;
    border: none;
}

.carousel1 .btn1:hover {
    color: #bd0123;
    background-color: white;
    transition: 600ms;
    font: bold;
} */

/* ------------------------------------------ */

/* Logos */
#d001 {
    margin-top: 100px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
}

#d001 div {
    width: 20%;
}

/* -------------------------------------- */

/* Contact Form */
#contact h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10%;
    padding-top: 120px;
    font-size: 30px;
}

#d0 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    display: flex;
    text-align: center;
    line-height: 30px;
    padding: 2%;
    box-shadow: 5px 2px 10px rgb(187, 187, 187);
    margin-left: 4%;
}

#d1 {
    width: 50%;
}

#d2 {
    display: flex;
    padding: 5% 2% 2% 10%;
}

#d4 {
    margin-left: 25%;
}

#d5 {
    width: 50%;
    line-height: 50px;
}

form input {
    height: 30px;
    width: 29%;
    padding: 5px;
}

form #sub {
    width: 60%;
}

form textarea {
    margin-top: 1%;
    padding: 6px;
    height: 180px;
    width: 60%;
}

form #buttn1 {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 25%;
    border-radius: 10px;
}

form #buttn1:hover {
    color: red;
    background-color: white;
    border: 1px solid red;
    transition: 1s;
}

#d0 .fa {
    font-size: 25px;
    color: red;
}

#d0 h4 {
    color: rgb(107, 107, 107);
}

/* ------------------------------------- */

/* Footer */
#f00 {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 400px;
    color: white;
    background-color: rgb(75, 75, 75);
}

#f01 {
    width: 90%;
    display: flex;
    padding: 0px 40px;
    margin-left: 3%;
}

#f02 {
    margin-top: 60px;
    width: 30%;
}

#f03 {
    margin-top: 60px;
    width: 30%;
}

#f03 a {
    text-decoration: none;
    color: black;
}

#f03 i {
    color: white;
}

#f03 li {
    color: white;
    font-weight: bolder;
    list-style-type: none;
}

#f03 li:hover {
    color: red;
}

#f04 {
    margin-top: 60px;
    margin-left: 5%;
    width: 30%;
}

#f05 {
    text-align: center;
}

/* ------------------------------------------ */

/* Button */
button {
    cursor: pointer;
}

/* Page Button */
.btn1 {
    width: 70%;
    height: 40px;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.btn1:hover {
    color: black;
}

.btn1:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.btn1:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* ----------------------------------------- */

/* M-List */
#mlist {
    position: fixed;
    display: none;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 0;
    z-index: 100;
    padding: 5%;
    margin-left: -5%;
    text-align: center;
}

#mlist ul {
    margin-top: 50px;
}

#mlist li {
    font-size: 20px;
    width: 100%;
    list-style-type: none;
    line-height: 30px;
    border-radius: 10px;
}

#mlist #d0001 {
    display: none;
    height: 100px;
    background-color: #fff;
    top: 0px;
    z-index: 100;
    position: relative;
}

#mlist #d0001 hr {
    margin-left: 10%;
}

#mlist #d0001 li a {
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(107, 107, 107);
}

#mlist #d0001 li a:hover {
    color: red;
}

#mlist img {
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#mlist a {
    color: black;
}

#mlist #x2 {
    font-size: 40px;
}

#mlist #x2:hover {
    color: grey;
}

/* ------------------------------------------------ */
/* Responsive */
/* Navbar */
@media screen and (max-width:600px) {
    #nav {
        width: 100%;
        height: 60px;
    }

    #nav1 #image {
        width: 100px;
        margin-left: 10%;
    }

    #ull {
        display: none;
    }

    #ic {
        display: block;
        font-size: 20px;
    }

    /* #ull a{
        display: block;
        float: none;
    } */
}

/* ------------------------------------------------ */

/* á¹¢ection 3 */
@media screen and (max-width:600px) {
    #sc3 {
        width: 100%;
        margin-top: 20px;
        height: 60px;
        font-size: 12px;
    }

    #sc3 button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 25px;
    }

}

/* ------------------------------------------------ */

/* Carousel */
@media screen and (max-width:600px) {
    #carousel img {
        width: 100%;
        height: 180px;
    }
}

/* ------------------------------------------------ */

/* About */
@media screen and (max-width:600px) {
    #card0 {
        width: 100%;
        padding-top: 80px;
        margin-top: -30px;
        font-size: 12px;
    }

    #card0 #dv01 {
        display: block;
        margin-left: 0%;
        text-align: center;
    }

    #card0 #dv02 {
        width: 80%;
        margin-left: 10%;
    }

    #card0 #dv03 {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    #card0 #p {
        font-size: 20px;
        text-align: center;
    }

    #card0 hr {
        display: none;
    }

    #card0 #dv03 iframe {
        width: 100%;
        height: auto;
    }

    #card0 #sp0001 {
        font-size: 15px;
    }
}

/* ------------------------------------------------ */

/* Card 1 */
@media screen and (max-width:600px) {
    #card1 {
        width: 100%;
        padding-top: 70px;
    }

    /* Mechanical */
    #card1 #dv6 .p {
        font-size: 20px;
        text-align: center;
    }

    #card1 #dv6 hr {
        display: none;
    }

    .dv7 {
        width: 100%;
        display: block;
        line-height: normal;
    }

    .dv7 div img {
        width: 220px;
        height: 150px;
    }

    #dv071, #dv072, #dv073, #dv074{
        margin-left: auto;
        margin-right: auto;
    }

    #dv071 {
        width: 70%;
        margin-top: -25px;
        box-shadow: 5px 2px 10px rgb(187, 187, 187);
    }

    #dv072 {
        width: 70%;
        margin-top: 15px;
        box-shadow: 5px 5px 10px rgb(187, 187, 187);
    }

    #dv073 {
        width: 70%;
        margin-top: 15px;
        box-shadow: 5px 2px 10px rgb(187, 187, 187);
    }

    #dv074 {
        width: 70%;
        margin-top: 15px;
        box-shadow: 5px 2px 10px rgb(187, 187, 187);
    }

    /* Civil */
    #card1 #dv8 .p {
        margin-top: 70px;
        font-size: 20px;
        margin-left: 0%;
        text-align: center;
    }

    #card1 #dv8 hr {
        display: none;
    }

    .dv9 {
        width: 100%;
        display: block;
        line-height: normal;
    }

    .dv9 div img {
        width: 220px;
        height: 150px;
    }

    #dv091, #dv092, #dv093{
        margin-left: auto;
        margin-right: auto;
    }

    #dv091 {
        width: 70%;
        margin-top: -25px;
        box-shadow: 5px 2px 10px rgb(187, 187, 187);
    }

    #dv092 {
        width: 70%;
        margin-top: 15px;
        box-shadow: 5px 5px 10px rgb(187, 187, 187);
    }

    #dv093 {
        width: 70%;
        margin-top: 15px;
        box-shadow: 5px 2px 10px rgb(187, 187, 187);
    }

    .sp01 {
        font-size: 15px;
        text-align: center;
    }

    .sp001 {
        font-size: 12px;
    }

    #card1 button {
        width: 30%;
        height: 25px;
        font-size: 10px;
        font-weight: bold;
        background-color: rgb(183, 0, 0);
    }
}

/* ------------------------------------------------ */

/* Images Section */
@media screen and (max-width:600px) {
    #div {
        display: none;
    }
}

/* ------------------------------------------------ */

/* Splide */
/* @media screen and (max-width:600px) {
    .carousel1 {
        margin-top: 40px;
        height: 330px;
        width: 100%;
        margin-left: 0%;
    }

    .carousel1 #sp1 p {
        font-size: 20px;
        margin-left: 0%;
        padding: 0%;
        text-align: center;
    }

    .splide__slide img {
        margin-top: 30px;
        width: 99%;
        height: 90px;
        margin-left: 0%;
    }

    .splide__slide p {
        width: 100%;
        text-align: center;
        font-size: 1rem !important;
        margin-left: auto;
    }

    .splide__slide .spn1 {
        display: none;
    }

    .splide__slide .cour {
        font-size: 11px !important;
    }

    .splide__slide .btn1 {
        align-items: center;
        justify-content: center;
        font-size: 9px;
        width: 80%;
        height: 30px;
        border-radius: 15px;
        border: none;
    }

    .splide__slide #im1 {
        width: auto;
        height: 90px;
    }
} */

/* ------------------------------------------------ */

/* Contact Form */
@media screen and (max-width:600px) {
    #contact {
        width: 100%;
        height: 550px;
        padding-top: 0px;
        margin-top: -50px;
    }

    #contact h1 {
        margin-left: 0%;
        font-size: 20px;
        /* margin-top: 20px; */
        text-align: center;
        box-shadow: none;
    }

    #d0 {
        display: block;
        width: auto;
        margin-left: 0%;
        padding: 1%;
        font-size: 12px;
    }

    #d1 {
        width: 100%;
    }

    #d2 {
        padding: 10% 0%;
    }

    #d5 {
        width: auto;
        line-height: 30px;
    }

    form input {
        height: 10px;
        width: auto;
        padding: 5px;
    }

    form #sub {
        width: 85%;
    }

    form textarea {
        height: 100px;
        width: 85%;
    }

    form #buttn1 {
        background-color: red;
        color: white;
        font-weight: bold;
        border: none;
        height: 30px;
        width: 30%;
    }

    #d0 .fa {
        font-size: 15px;
    }
}

/* ------------------------------------------------ */

/* Footer */
@media screen and (max-width:600px) {
    #f00 {
        width: 100%;
        height: 600px;
        margin-top: 130px;
    }

    #f01 {
        width: 100%;
        display: block;
        padding: 0%;
        margin-left: 0%;
        text-align: center;
        font-size: 12px;
    }

    #f03 ul {
        text-align: left;
    }

    #f02,
    #f03,
    #f04 {
        margin-top: 20px;
        width: 100%;
    }

    #f04 {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #f05 {
        font-size: 12px;
    }

    #f03 li {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

/* ------------------------------------------------ */

/* Logos */
@media screen and (max-width:600px) {
    #d001 {
        margin-top: 80px;
        width: auto;
        display: flex;
        margin-left: 3%
    }

    #d001 {
        width: auto;
    }

    #d001 div img {
        height: 50px;
    }

    #d001 div #im2 {
        height: 25px;
    }
}

/* ------------------------------------------------ */

/* Count Section */
@media screen and (max-width:600px) {
    #d01 {
        margin-top: 20px;
        width: 100%;
        display: flex;
        text-align: center;
        margin-left: 0%;
    }

    #d01 div {
        width: 25%;
        font-size: 9px;
    }
}

/* ------------------------------------------------ */